{
  "swagger": "2.0",
  "info": {
    "title": "onePlace XI Core",
    "version": "1",
    "description": "This is the onePlace XI Core API Server for Swissfaucet.io"
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "xi.api.swissfaucet.io",
  "tags": [
    {
      "name": "Status",
      "description": "Create, manipulate, and retrieve status messages."
    },
    {
      "name": "Ping"
    },
    {
      "name": "User"
    },
    {
      "name": "Login",
      "description": "Login with Username and Password"
    }
  ],
  "securityDefinitions": {
    "OAuth2" : {
      "type" : "oauth2",
      "authorizationUrl": "http://xi.api.swissfaucet.io/oauth/authorize",
      "tokenUrl": "http://xi.api.swissfaucet.io/oauth",
      "flow": "accessCode",
      "name": "token",
      "in": "header",
      "scopes": {
        "read": "Grants read access",
        "write": "Grants write access",
        "admin": "Grants read and write access to administrative information"
      }
    }
  },
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "Retrieve a paginated list of status messages.",
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Status"
        ],
        "description": "Create a new status messages.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        ],
        "security": [
          {"OAuth2" : []}
        ],
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/status/{status_id}": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "Retrieve a status message.",
        "parameters": [
          {
            "in": "path",
            "name": "status_id",
            "description": "URL parameter status_id",
            "type": "string",
            "required": true,
            "minimum": 0,
            "maximum": 1
          }
        ],
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Status"
        ],
        "security": [
          {"OAuth2" : []}
        ],
        "description": "Update a status message.",
        "parameters": [
          {
            "in": "path",
            "name": "status_id",
            "description": "URL parameter status_id",
            "type": "string",
            "required": true,
            "minimum": 0,
            "maximum": 1
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        ],
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Client Error"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Status"
        ],
        "security": [
          {"OAuth2" : []}
        ],
        "description": "Replace a status message.",
        "parameters": [
          {
            "in": "path",
            "name": "status_id",
            "description": "URL parameter status_id",
            "type": "string",
            "required": true,
            "minimum": 0,
            "maximum": 1
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        ],
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Client Error"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "Status"
        ],
        "security": [
          {"OAuth2" : []}
        ],
        "description": "Delete a status message.",
        "parameters": [
          {
            "in": "path",
            "name": "status_id",
            "description": "URL parameter status_id",
            "type": "string",
            "required": true,
            "minimum": 0,
            "maximum": 1
          }
        ],
        "produces": [
          "application/vnd.status.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Check alive",
        "produces": [
          "application/vnd.status.v1+json",
          "application/json",
          "application/*+json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Get User Info",
        "tags": [
          "User"
        ],
        "security": [
          {"OAuth2" : []}
        ],
        "produces": [
          "application/vnd.user.v1+json",
          "application/hal+json",
          "application/json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserInfo"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "description": "Perform Login Action",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "produces": [
          "application/vnd.user.v1+json",
          "application/json",
          "application/*+json"
        ],
        "responses": {
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string"
                }
              },
              "example": {
                "user_id": "1"
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Client Error"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user submitting the status message."
        }
      },
      "required": [
        "user"
      ]
    },
    "Login": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Name or E-Mail for User"
        },
        "password": {
          "type": "string",
          "description": "Password for user"
        }
      },
      "required": [
        "username",
        "password"
      ],
      "example": {
        "username": "Username for User you want to login",
        "password": "Password for the user"
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A status message of no more than 140 characters"
        },
        "user": {
          "type": "string",
          "description": "The user submitting the status message."
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when the status message was last modified."
        }
      },
      "required": [
        "message",
        "user"
      ]
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Client ID for the User."
        },
        "username": {
          "type": "string",
          "description": "The username for the User."
        },
        "token_balance": {
          "type": "number",
          "description": "The current token balance for the User."
        },
        "xp_level": {
          "type": "integer",
          "description": "Current XP Level for the User."
        },
        "xp_percent": {
          "type": "integer",
          "description": "Current % for next XP Level for the User."
        }
      },
      "example": {
        "id": 1,
        "username": "testuser",
        "token_balance": 50.00,
        "xp_level": 1,
        "xp_percent": 85
      }
    }
  }
}